                    {% load widget_tweaks %}

                    <div class="search-field">
                        <div class="tabs-box">
                            <div class="tab-btn-box">
                                <ul class="tab-btns tab-buttons centred clearfix">
                                    <li class="tab-btn active-btn" data-tab="#tab-1">VENDA</li>
                                    <li class="tab-btn" data-tab="#tab-2">ALUGUEL</li>
                                </ul>
                            </div>
                            <div class="tabs-content info-group">
                                
                                
                                <!-- Block 1-->
                                <div class="tab active-tab" id="tab-1">
                                    <div class="inner-box">
                                        <div class="top-search">
                                            
                                            <!-- Form 1 -->
                                            <form action="" method="GET" class="search-form">
                                                {% csrf_token %}
                                                <div class="row clearfix">
                                                    <div class="col-lg-4 col-md-12 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Buscar Imóvel</label>
                                                        
                                                            <div class="field-input">
                                                                <i class="fas fa-search"></i>
                                                                <input type="search" name="title" placeholder="Busque por: Imóvel, cidade, bairro, tipo">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Categoria</label>
                                                            <div class="select-box">
                                                                <i class="far fa-compass"></i>
                                                                
                                                                {% render_field property_filter.form.category placeholder="Nome" class="wide" %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Tipo</label>
                                                            <div class="select-box">
                                                                <select name="type_property" class="wide">
                                                                   <option value="sale" data-display="Venda">Venda</option>
                                                                
                                                                  
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="search-btn">
                                                    <button type="submit"><i class="fas fa-search"></i>Procurar</button>
                                                </div>
                                            </form>
                                            
                                        
                                        </div>
                                        <div class="switch_btn_one ">
                                            <button class="nav-btn nav-toggler navSidebar-button clearfix search__toggler">Busca avançada<i class="fas fa-angle-down"></i></button>
                                            
                                            
                                            
                                        <form method="GET">
                                            {% csrf_token %}
                                            <div class="advanced-search">
                                                <div class="close-btn">
                                                    <a href="#" class="close-side-widget"><i class="far fa-times"></i></a>
                                                </div>
                                                <div class="row clearfix">
                                                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Estado</label>
                                                            <div class="select-box">
                                                                {% render_field property_filter.form.state placeholder="Nome" class="wide" %}
                                                                <!--
                                                                <select class="wide">
                                                                   <option data-display="Selecione o estado">Selecione o estado</option>
                                                                   <option value="1">São Paulo</option>
                                                                   
                                                                </select> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Cidade</label>
                                                            <div class="select-box">
                                                                {% render_field property_filter.form.city placeholder="Nome" class="wide" %}
                                                                <!--
                                                                <select class="wide">
                                                                   <option data-display="Selecione a cidade">Selecione a cidade</option>
                                                                   <option value="1">São Paulo</option>
                                                                 
                                                                </select>
                                                                -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Bairro</label>
                                                            <div class="select-box">
                                                                {% render_field property_filter.form.district placeholder="Nome" class="wide" %}
                                                                <!-- 
                                                                <select class="wide">
                                                                   <option data-display="Selecione o bairro">Selecione o bairro</option>
                                                                   <option value="1">Grajaú</option>
                                                             
                                                                </select>
                                                                -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Banheiros</label>
                                                            <div class="select-box">
                                                                {% render_field property_filter.form.bathrooms placeholder="Nome" class="wide" %}
                                                                <!--
                                                                <select class="wide">
                                                                   <option data-display="Banheiros">Banheiros</option>
                                                                   <option value="1">1</option>
                                                                   <option value="2">2</option>
                                                                
                                                                </select>
                                                                -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Quartos</label>
                                                            <div class="select-box">
                                                                {% render_field property_filter.form.rooms placeholder="Nome" class="wide" %}
                                                                <!--
                                                                <select class="wide">
                                                                   <option data-display="Quartos">Quartos</option>
                                                                   <option value="1">1</option>
                                                                   <option value="2">2</option>
                                                                   
                                                                </select>
                                                                -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Vagas</label>
                                                            <div class="select-box">
                                                                {% render_field property_filter.form.garage_size placeholder="Nome" class="wide" %}
                                                                <!-- 
                                                                <select class="wide">
                                                                   <option data-display="Vagas">Vagas</option>
                                                                   <option value="1">1</option>
                                                                   <option value="2">2</option>
                                                               
                                                                </select>
                                                                -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="range-box">
                                                    <div class="row clearfix">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 column">
                                                            <div class="price-range">
                                                                <h6>Preço</h6>
                                                                <div class="range-input">
                                                                    <div class="input"><input type="text" class="property-amount" name="field-name" readonly=""></div>
                                                                </div>
                                                                <div class="price-range-slider"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 column">
                                                            <div class="area-range">
                                                                <h6>Tamanho</h6>
                                                                <div class="range-input">
                                                                    <div class="input"><input type="text" class="area-range" name="field-name" readonly=""></div>
                                                                </div>
                                                                <div class="area-range-slider"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <button style="margin-top: 20px;" type="submit" class="theme-btn btn-one">Filtrar</button>
                                                
                                            
                                            
                                            
                                            
                                            </div>
                                        </form>
                                            
                                        
                                            
                                        
                                        
                                        
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <!---Bloco 2-->
                                <div class="tab" id="tab-2">
                                    <div class="inner-box">
                                        <div class="top-search">
                                            
                                            <!-- Form 2-->
                                            <form action="" method="GET" class="search-form">
                                                {% csrf_token %}
                                                <div class="row clearfix">
                                                    <div class="col-lg-4 col-md-12 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Buscar Imóvel</label>
                                                        
                                                            <div class="field-input">
                                                                <i class="fas fa-search"></i>
                                                                <input type="search" name="title" placeholder="Busque por: Imóvel, cidade, bairro, tipo">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Categoria</label>
                                                            <div class="select-box">
                                                                <i class="far fa-compass"></i>
                                                                
                                                                {% render_field property_filter.form.category placeholder="Nome" class="wide" %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                        <div class="form-group">
                                                            <label>Tipo</label>
                                                            <div class="select-box">
                                                                <select name="type_property" class="wide">
                                                                   <option value="rent" data-display="Aluguel">Aluguel</option>
                                                                
                                                                  
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="search-btn">
                                                    <button type="submit"><i class="fas fa-search"></i>Procurar</button>
                                                </div>
                                            </form>
                                            
                                        
                                        
                                        </div>
                                        <div class="switch_btn_one ">
                                            <button class="nav-btn nav-toggler navSidebar-button clearfix search__toggler">Busca avançada<i class="fas fa-angle-down"></i></button>
                                            
                                            
                                            
                                             
                                            <form method="GET">
                                                {% csrf_token %}
                                                <div class="advanced-search">
                                                    <div class="close-btn">
                                                        <a href="#" class="close-side-widget"><i class="far fa-times"></i></a>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                            <div class="form-group">
                                                                <label>Estado</label>
                                                                <div class="select-box">
                                                                    {% render_field property_filter.form.state placeholder="Nome" class="wide" %}
                                                                    <!--
                                                                    <select class="wide">
                                                                       <option data-display="Selecione o estado">Selecione o estado</option>
                                                                       <option value="1">São Paulo</option>
                                                                       
                                                                    </select> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                            <div class="form-group">
                                                                <label>Cidade</label>
                                                                <div class="select-box">
                                                                    {% render_field property_filter.form.city placeholder="Nome" class="wide" %}
                                                                    <!--
                                                                    <select class="wide">
                                                                       <option data-display="Selecione a cidade">Selecione a cidade</option>
                                                                       <option value="1">São Paulo</option>
                                                                     
                                                                    </select>
                                                                    -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                            <div class="form-group">
                                                                <label>Bairro</label>
                                                                <div class="select-box">
                                                                    {% render_field property_filter.form.district placeholder="Nome" class="wide" %}
                                                                    <!-- 
                                                                    <select class="wide">
                                                                       <option data-display="Selecione o bairro">Selecione o bairro</option>
                                                                       <option value="1">Grajaú</option>
                                                                 
                                                                    </select>
                                                                    -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                            <div class="form-group">
                                                                <label>Banheiros</label>
                                                                <div class="select-box">
                                                                    {% render_field property_filter.form.bathrooms placeholder="Nome" class="wide" %}
                                                                    <!--
                                                                    <select class="wide">
                                                                       <option data-display="Banheiros">Banheiros</option>
                                                                       <option value="1">1</option>
                                                                       <option value="2">2</option>
                                                                    
                                                                    </select>
                                                                    -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                            <div class="form-group">
                                                                <label>Quartos</label>
                                                                <div class="select-box">
                                                                    {% render_field property_filter.form.rooms placeholder="Nome" class="wide" %}
                                                                    <!--
                                                                    <select class="wide">
                                                                       <option data-display="Quartos">Quartos</option>
                                                                       <option value="1">1</option>
                                                                       <option value="2">2</option>
                                                                       
                                                                    </select>
                                                                    -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12 column">
                                                            <div class="form-group">
                                                                <label>Vagas</label>
                                                                <div class="select-box">
                                                                    {% render_field property_filter.form.garage_size placeholder="Nome" class="wide" %}
                                                                    <!-- 
                                                                    <select class="wide">
                                                                       <option data-display="Vagas">Vagas</option>
                                                                       <option value="1">1</option>
                                                                       <option value="2">2</option>
                                                                   
                                                                    </select>
                                                                    -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="range-box">
                                                        <div class="row clearfix">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 column">
                                                                <div class="price-range">
                                                                    <h6>Preço</h6>
                                                                    <div class="range-input">
                                                                        <div class="input"><input type="text" class="property-amount" name="field-name" readonly=""></div>
                                                                    </div>
                                                                    <div class="price-range-slider"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 column">
                                                                <div class="area-range">
                                                                    <h6>Tamanho</h6>
                                                                    <div class="range-input">
                                                                        <div class="input"><input type="text" class="area-range" name="field-name" readonly=""></div>
                                                                    </div>
                                                                    <div class="area-range-slider"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
    
    
    
                                                    <button style="margin-top: 20px;" type="submit" class="theme-btn btn-one">Filtrar</button>
                                                    
                                                
                                                
                                                
                                                
                                                </div>
                                            </form>
                                        
                                        
                                        
                                        
                                        
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                